@using bstate.web.example.Features.Counter
@inherits bstate.core.Components.BStateComponent

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Counter</h5>
        <p class="card-text" role="status">Current count: @State.Count</p>
        <button class="btn btn-primary" disabled="@State.IsLoading" @onclick="IncrementCount">Click me</button>
    </div>
</div>


@code {
    CounterState State => this.UseState<CounterState>();
    private Task IncrementCount() => this.State.IncreaseCounter();

    protected override void ConfigureCustomLifeCycle()
    {
        this.UseOnBStateRender<CounterOnRender>();
    }

}