@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="row">
    <div class="col-6">
        <CounterComponent/>
    </div>
    <div class="col-6">
        <SubtractCounterComponent/>
    </div>
</div>



@code {
    
}