@using bstate.web.example.Features.Counter
@inherits bstate.core.Components.BStateComponent

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Exception Example</h5>
        <p class="card-text" role="status">A button to show exception management using ExceptionBehaviour</p>
        <button class="btn btn-danger" @onclick="ShowError">This will explode</button>
    </div>
</div>


@code {
    CounterState State => this.UseState<CounterState>();
    private Task ShowError() => this.State.JustThrow();
}