@using System.Runtime.CompilerServices
@using bstate.core.Components
@inherits bstate.core.Components.BStateComponent

<h3>Those are commands</h3>
<button @onclick="SetRandomValue">Random Phrase</button>
<button @onclick="LongAction" disabled="@State.IsLoading">LongAction</button>

@code {
    RandomTestState State => this.UseState<RandomTestState>();
    //BStateComponent TestOnInitalize => this.UseOnInitiaze<TestCustomHooks>();

    protected override void ConfigureHooks()
    {
        this.UseOnInitiaze<TestCustomLifeCycle>();
        this.UseOnAfterRenderAsync<TestCustomLifeCycle>();
        this.UseOnBStateRender<TestCustomLifeCycle>();
        this.UseOnDisposeAsync<TestCustomLifeCycle>();
    }

    private Task SetRandomValue() => this.State.SetRandomName();
    private Task LongAction() => this.State.RunALong();
}